@charset 'UTF-8';

html {
  background-color: #f7f7f7;
  color: #000;
  font-family: 'Menlo';
  font-size: 9pt;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

body {
  margin: 0;
  padding: 0;
}

body.normal,
body.console,
body[type='channel'],
body[type='talk'],
body[type='console'],
body[channelname='#limechat'] {
  /* placeholder */
}

hr {
  margin: 0.5em 2em;
}

a {
  color: #5681bf;
}

strong.highlight {
  background-color: #7097c4;
  border: 1px solid #5681bf;
  border-radius: 5px;
  color: white;
  font-weight: normal;
  padding: 1px 4px;
}

.inlineimage {
  /* placeholder */
}

.line {
  border-top: 1px solid #e1e1e1;
  box-shadow: 0 1px 0 white inset;
  margin: 0px;
  padding: 0px 0px 0px 120px;
  position: relative;
}

.line[type='join'] {
  background-color: #e0f4cd;
  border-top: 1px solid #bee38b;
}

.line[type='quit'],
.line[type='part'] {
  background-color: #e9e9e9;
  border-top: 1px solid #dfdfdf;
}

.line[type='kick'] {
  background-color: #f4d3cd;
  border-top: 1px solid #e5c1ba;
}

.line[alternate='even'],
.line[alternate='odd'] {
  /* placeholder */
}

.line[type='action'] .sender:before {
  content: '• ';
  white-space: nowrap;
}

.line[highlight='true'] {
  background-color: #e5ecf6;
  border-top: 1px solid #c2d5eb;
}

.line[highlight='true'] .message {
  background-color: #f4f7fb;
}

.line[highlight='true'] .time {
  color: #a099a1;
}

.url {
  word-break: break-all;
}

.address {
  word-break: break-all;
}

.address:hover {
  text-decoration: underline;
}

.highlight {
  color: #f0f;
  font-weight: bold;
}

.place {
  color: #008;
}

.sender {
  left: 5px;
  padding: 5px;
  position: absolute;
  text-align: right;
}

.sender[type='myself'] {
  color: #45537f;
  font-weight: bold;
}

.sender[type='normal'] {
  color: #636363;
  font-weight: bold;
}

.message {
  background-color: #fff;
  border-left: 1px solid #e1e1e1;
  box-shadow: -1px 0 0 white;
  display: block;
  padding: 5px 50px 5px 10px;
}

.message[type='system'] {
  color: #4a4a4a;
}

.message[type='error'] {
  color: #f00;
  font-weight: bold;
}

.message[type='reply'] {
  color: #4a4a4a;
}

.message[type='error_reply'] {
  color: #f00;
}

.message[type='dcc_send_send'] {
  color: #088;
}

.message[type='dcc_send_receive'] {
  color: #00c;
}

.message[type='privmsg'] {
  /* placeholder */
}

.message[type='notice'] {
  color: #888;
}

.message[type='action'] {
  color: #080;
}

.message[type='join'] {
  background-color: #f5f9e7;
  color: #4a4a4a;
}

.message[type='join']:before {
  color: #636363;
  content: 'Welcome!';
  font-weight: bold;
  left: 10px;
  position: absolute;
}

.message[type='part'] {
  background-color: #f6f6f6;
  color: #aaa;
}

.message[type='part']:before {
  color: #636363;
  content: 'Leaving';
  font-weight: bold;
  left: 10px;
  position: absolute;
}

.message[type='kick'] {
  background-color: #f9ece7;
  color: #636363;
}

.message[type='kick']:before {
  color: red;
  content: 'Owned!';
  font-weight: bold;
  left: 10px;
  position: absolute;
}

.message[type='quit'] {
  background-color: #f6f6f6;
  color: #aaa;
}

.message[type='quit']:before {
  color: #636363;
  content: 'Bye!';
  font-weight: bold;
  left: 10px;
  position: absolute;
}

.message[type='kill'] {
  color: #080;
}

.message[type='nick'] {
  color: #aaa;
}

.message[type='nick']:before {
  color: #636363;
  content: 'NickServ:';
  font-weight: bold;
  left: 10px;
  position: absolute;
}

.message[type='mode'],
.message[type='topic'],
.message[type='invite'],
.message[type='wallops'] {
  color: #080;
}

.message[type='debug_send'] {
  color: #aaa;
}

.message[type='debug_receive'] {
  color: #444;
}

.time {
  color: #a099a1;
  font-size: 8pt;
  position: absolute;
  right: 5px;
  top: 30%;
}
