[submodule "limechat-graphite"]
	path = limechat-graphite
	url = http://github.com/gregnewman/limechat-graphite.git
[submodule "limechat-whisper"]
	path = limechat-whisper
	url = http://github.com/jezdez/limechat-whisper.git
[submodule "campfire-limechat"]
	path = campfire-limechat
	url = http://github.com/dylanm/campfire-limechat.git
[submodule "usably-limechat"]
	path = usably-limechat
	url = http://github.com/idangazit/usably-limechat.git
[submodule "ManmaruDrop"]
	path = ManmaruDrop
	url = http://github.com/ukstudio/ManmaruDrop.git
[submodule "limechat-grayzone"]
	path = limechat-grayzone
	url = http://github.com/nate/limechat-grayzone.git
[submodule "Spring-Night--modified-"]
	path = Spring-Night--modified-
	url = http://github.com/halbtuerke/Spring-Night--modified-.git
[submodule "Limelight"]
	path = Limelight
	url = http://github.com/Soryu/Limelight.git
[submodule "decafbland-limechat"]
	path = decafbland-limechat
	url = http://github.com/kballard/decafbland-limechat.git
[submodule "monokai-limechat"]
	path = monokai-limechat
	url = http://github.com/joonas/monokai-limechat.git
[submodule "limechat-code7"]
	path = limechat-code7
	url = http://github.com/c7/limechat-code7.git
[submodule "limechat-twilight"]
	path = limechat-twilight
	url = http://github.com/blomma/limechat-twilight.git
[submodule "mosey-limechat-theme"]
	path = mosey-limechat-theme
	url = https://github.com/phaedryx/mosey-limechat-theme.git
[submodule "limechat-theme"]
	path = limechat-theme
	url = https://github.com/radar/limechat-theme.git
[submodule "limechat-themes"]
	path = limechat-themes
	url = https://github.com/morepanda/limechat-themes.git
[submodule "more-panda"]
	path = more-panda
	url = https://github.com/morepanda/limechat-themes.git
[submodule "radar"]
	path = radar
	url = https://github.com/radar/limechat-theme.git
