html {
  padding-top: 0;
  padding-bottom: 0;
  background-color: black;
}

body {
  font-family: 'Times';
  font-size: 14px;
  color: white;
  margin: 4px 0px 5px 0px;
}

body[type=console] {
  font-family: 'Monaco';
  font-size: 10px;
}

hr#mark {
  margin: 0.4em 0.5in;
  clear: both;
}

.url { word-break: break-all; }
.address { text-decoration: none; word-break: break-all; }
.highlight { color: inherit; font-weight: normal; }
.line {
  margin: 0 -4px;
  padding: 0 4px 1px 4px;
  clear: both;
}
.line[highlight=true] {
  background-color: #212;
  color: #0ff;
  border-color: #a8a8a8;
  border-style: solid;
  border-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.time {
  float: right;
  margin-left: 1ex;
  color: #666;
}
.place { color: #aaa; }

.sender[type=myself] { color: #444; }
.sender[type=normal] { color: #05c; }
.sender[type=normal][colornumber='0'] { color: #f40; }
.sender[type=normal][colornumber='1'] { color: #f0f; }
.sender[type=normal][colornumber='2'] { color: #0ff; }
.sender[type=normal][colornumber='3'] { color: #8f0; }
.sender[type=normal][colornumber='4'] { color: #0f0; }
.sender[type=normal][colornumber='5'] { color: #0f8; }
.sender[type=normal][colornumber='6'] { color: #44f; }
.sender[type=normal][colornumber='7'] { color: #48f; }
.sender[type=normal][colornumber='8'] { color: #80f; }
.sender[type=normal][colornumber='9'] { color: #84f; }
.sender[type=normal][colornumber='10'] { color: #f84; }
.sender[type=normal][colornumber='11'] { color: #f08; }
.sender[type=normal][colornumber='12'] { color: #f48; }
.sender[type=normal][colornumber='13'] { color: #f80; }
.sender[type=normal][colornumber='14'] { color: #08f; }
.sender[type=normal][colornumber='15'] {} /* DecafBland only specified 15 colors */

body.normal .sender, body.normal .place {
  display: block;
  width: 15ex;
  float: left;
  text-align: right;
}

.line .sender:before, .line .sender:after {
    color: #444;
}

.line[type=privmsg] .sender:before {
  content: "<";
  white-space: nowrap;
}

.line[type=privmsg] .sender:after {
  content: ">";
  white-space: nowrap;
}

.line[type=notice] .sender:before {
  content: "*";
  white-space: nowrap;
}

.line[type=notice] .sender:after {
  content: "*";
  white-space: nowrap;
}

.line[type=action] .sender:before {
  content: "\BB";
  margin-right: 0.5ex;
  margin-left: 1ex;
}

body.console .sender {
  margin-right: 1ex;
}

body.normal .message {
  display: block;
  text-align: left;
  margin-left: 16ex;
  margin-right: 9ex;
  word-wrap: break-word;
  -khtml-line-break: after-white-space;
  -khtml-nbsp-mode: space;
}

body.normal .event .message:before {
  color: #a0a;
  margin-left: -2ex;
  margin-right: 1ex;
  content: "\00BB";
  white-space: nowrap;
}
body.normal .event .message {
  color: #800;
  padding-bottom: 0;
  word-wrap: break-word;
  -khtml-line-break: after-white-space;
  -khtml-nbsp-mode: space;
}

body.normal .event .message[type=reply], body.normal .event .message[type=topic] {
    color: #01880D;
}
